<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
    <% @apis.each do |api| %>
        <p> r_id: <%= api.request_id %>  fullname: <%= api.name %> email: <%= api.email_address %> pdf_url: <a tager="_blank" href="<%= api.pdf_url %>"><%= api.pdf_url %></a></p>
    <% end %>
    </div>
</div>