<div class="container mt-5 mb-5">
    <h4>Last one you added is on top!</h4>
    <br />
    <div class="row d-flex justify-content-center">
    <table>
        <tr>
            <th>Request ID</th>
            <th>Status</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Profile Link</th>
        </tr>
        
            <% @apis.each do |api| %>
            <tr>
                <td> <%= api.request_id %> </td>
                <td> <%= api.status %> </td>
                <td> <%= api.name %> </td>
                <td> <%= api.email %> </td>
                <td> <%= api.profile_link %></td>
            </tr>
            <% end %>
    </table>
    </div>
</div>