<style>
   @media only screen and (max-width: 800px) {
        #homepageimage {
            display:none;
        }
    }
</style>
<div class="image__part bg-light">
    <div class="h-100 container-fluid">
        <h2 > Enterprise-grade </h2>
        <h1 style="font-weight: bold;"> Full stack development </h1>
        <%= image_tag 'homepageimage.png', id: "homepageimage", style: "position: absolute;right: 10px;margin-top: -110px;"%>
        <h4 style="color: #6da8db;"> We build solutions for startups, enterprises, and SMEs that help them succeed at the speed of light. </h5>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8"> 
            <br> 
            <br> 
            <p class="text-center" style="opacity:0.7;"> Our service </p>
            <br> 
            <h2 class="text-center" style="font-weight: bold;">Full stack development</h2> 
            <br>
            <h6 class="text-center" style="color: #6da8db;"> We create quality software products that benefit businesses of any size.
            We go beyond technology solution to understand your vision and deliver intuitive, custom-made,
            and customer-centric web and mobile app solutions. </h6>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"> </div>
        <div class="col-8">
            <br>
            <br>
            <div class="d-flex justify-content-center flex-wrap">
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center"><i class="far fa-gem fa-2x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"> <strong> Ruby on Rails Development </strong> </h5>
                        <p class="card-text d-flex justify-content-center">
                            With the years of experience and result-driven approach in RoR development, we help you leverage Ruby On Rails, a full-stack and
                            modern development framework to create reliable and user-friendly solutions.
                        </p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center"><i class="fab fa-shopify fa-2x"></i></i></div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"> <strong> Shopify Development </strong> </h5>
                        <p class="card-text d-flex justify-content-center">
                            Our focused mindset of delivering rapid, usable, and engaging experience in eCommerce help you achieve desirable results in no time.
                            We craft enhanced ecommerce solutions leveraging our skills and experience into Shopify development.
                        </p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center"><i class="fas fa-network-wired fa-2x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"> <strong> Full Stack Application Development </strong> </h5>
                        <p class="card-text d-flex justify-content-center">
                            The web is not limited to just static web pages. Use our full-stack development services to lure your users and deliver 
                            them interactive, modern, and beautiful experiences at affordable costs.
                        </p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center"><i class="fab fa-osi fa-2x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"> <strong> Open Source Customization </strong> </h5>
                        <p class="card-text d-flex justify-content-center">
                            Experience with many years of best practices and basic depth knowledge of technology makes us very comfortable for web open source customization and with this, we can save
                            your time to use existing solutions with minimum customization as per need.
                        </p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center"><i class="fab fa-cloudversify fa-2x"></i></i></div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"> <strong> Cloud Services </strong> </h5>
                        <p class="card-text d-flex justify-content-center">
                            We are here to assist you in connecting the world with your best idea of application with many cloud services like Amazon AWS,
                            Google Cloud, Digital Ocean, Heroku, and many more servers in an automated way as per your requirement.
                        </p>
                    </div>
                </div>
                <div class="card m-3 shadow p-3 mb-5 bg-white rounded" style="max-width: 18rem;">
                    <div class="card-header d-flex justify-content-center"><i class="fas fa-chalkboard-teacher fa-2x"></i></div>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center"> <strong> Personal Application Development </strong> </h5>
                        <p class="card-text d-flex justify-content-center">
                            Our professional team and our engineers always looks for individual people who really needs 
                            to have a personal website or for portfolio or for any other reason, always on their side.
                            We create website eben for individuals not just for companies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"> </div>
    </div>

    <div class="row bg-light">
        <div class="col-1"></div>
        <div class="col-6 d-flex align-items-center "> 
            <div>
                <br> 
                <br> 
                <p class="text-center" style="opacity:0.7;"> Our vision </p>
                <h2 class="text-center" style="font-weight: bold;">Industries We Serve</h2> 
                <br>
                <h6 class="text-center" style="color: #6da8db;"> You can hardly find a sector where technology hasn’t entered yet.
                No matter what your business model is, we work together to deliver the best experience possible using the latest technologies and tools. We constantly learn and update 
                ourselves with the latest tools and modern mindsets to build web and mobile apps for every domain. </h6>
            </div>
        </div>
        <div class="col-5">
            <div class="d-flex justify-content-center">
                <%= image_tag 'digital.png', width: '80%', class: 'p-5' %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 d-flex"> 
            <div>
                <br> 
                <br> 
                <p class="text-center" style="opacity:0.7;"> Our work </p>
                <h2 class="text-center" style="font-weight: bold;">Client Satisfaction is Our Motto</h2> 
                <br>
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="card m-1 shadow mb-5 bg-white rounded" style="max-width: 25rem;">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'pickar.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                    <div class="card m-1 shadow mb-5 bg-white rounded" style="max-width: 25rem;">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'seeu.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                    <div class="card m-1 shadow mb-5 bg-white rounded" style="max-width: 25rem; ">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'cooking.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <!-- 
    <div class="row bg-light">
        <div class="col-1"></div>
        <div class="col-10">
            <div>
                <br> 
                <br>
                <h1 class="text-center">Technologies that we use</h1> 
                <br>
                <div class="d-flex justify-content-center flex-wrap tech">
                    <div class="card m-1" style="max-width: 10rem; border-radius:50%;">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'rubyOn.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                    <div class="card m-1" style="max-width: 10rem; border-radius:50%;">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'Angular.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                    <div class="card m-1" style="max-width: 10rem; border-radius:50%;">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'Php.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                    <div class="card m-1" style="max-width: 10rem; border-radius:50%;">
                        <div class="card-body d-flex align-items-center">
                            <%= image_tag 'React.png', width: '100%', height: '100%' %>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    -->
</div>