<!DOCTYPE html>
<html>
  <head>
    <title>DietyAp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Concert+One&family=Do+Hyeon&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
</html>
